<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" 
        name="OneDesktop" 
        author="OneDesktop" 
        url="www.supermap.com.cn" 
        description="OneDesktop Plugin"
        helpLocalRoot=""
        helpOnlineRoot="">
  <runtime assemblyName="./Plugins/OneDesktop/OneDesktop.dll" className="OneDesktop.DesktopPlugin" loadOrder="2000" enabled="true" />

  <toolbox>
    <ribbon>
      <tabs>
        <tab index="0" id="Home" label="Home" formClass="" visible="">
          <group index="100" id="OneDesktop" label="协同桌面"  layoutStyle="vertical" visible="">
            <button index="" label="登入" visible="" checkState="" 
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll" 
                    onAction="OneDesktop.ConnectCtrlAction" style="" 
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png" 
                    size="Large" screenTip="Show MessageBox!" 
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm" 
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png" 
                    shortcutKey="Ctrl+T"/>
            <button index="" label="会话" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.MyCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="同步" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.SyncViewCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="设置" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.MyCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
</plugin>