<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" 
        name="OneDesktop" 
        author="OneDesktop" 
        url="www.supermap.com.cn" 
        description="OneDesktop Plugin"
        helpLocalRoot=""
        helpOnlineRoot="">
  <runtime assemblyName="./Plugins/OneDesktop/OneDesktop.dll" className="OneDesktop.DesktopPlugin" loadOrder="2000" enabled="true" />

  <toolbox>
    <ribbon>
      <tabs>
        
        <tab index="0" id="Home" label="开始" formClass="" visible="">
          <group index="200" id="OneDesktop" label="协同"  layoutStyle="vertical" visible="">
            <button index="" label="登录" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>

            <button index="" label="地理会话" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.DialogueCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="同步视图" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.SyncViewCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="1000" label="全屏" visible="true" checkState="false" 
                    assemblyName="./Plugins/Frame/SuperMap.Desktop.Frame.dll" 
                    onAction="SuperMap.Desktop._CtrlActionFullScreen" 
                    style="" image="../Resources/Frame/Icon/Window/FullScreen.PNG" 
                    size="large" shortcutKey="F11" screenTip="设置应用程序中的窗口全屏显示。" 
                    helpURL="Features/BasicContents/View/FullScreen.htm" />
          </group>
        </tab>
        <tab index="0" id="Cloud" label="服务" formClass="" visible="">
          <group index="10" id="OneCloud" label="在线服务"  layoutStyle="vertical" visible="">
            <button index="" label="地图" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="地址搜索" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="路径分析" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="地理编码" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
          </group>
        
          <group index="100" id="OneSensor" label="实时感知"  layoutStyle="vertical" visible="">
            <button index="" label="轨迹处理" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="远程GPS" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="实时测量" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.SyncViewCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="传感数据" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.SyncViewCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
          </group>
          <group index="200" id="OneDatasource" label="数据服务"  layoutStyle="vertical" visible="">
            <button index="" label="地图下载" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="数据订购" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="坐标转换" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="格式转换" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="内容发布" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
          </group>

          <group index="300" id="OneProcess" label="并行处理"  layoutStyle="vertical" visible="">
            <button index="" label="并行切图" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="异步处理" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.SyncViewCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="远程处理" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.SyncViewCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
            <button index="" label="挖掘分析" visible="" checkState=""
                    assemblyName="./Plugins/OneDesktop/OneDesktop.dll"
                    onAction="OneDesktop.ConnectCtrlAction" style=""
                    image="./Plugins/OneDesktop/Resources/Icon/MessageButton.png"
                    size="Large" screenTip="Show MessageBox!"
                    helpURL="./Plugins/OneDesktop/Helps/ShowMessage.htm"
                    screenTipImage="./Plugins/OneDesktop/Resources/ScreenTipImage/MessageButtonTip.png"
                    shortcutKey="Ctrl+T"/>
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <dockbar>
     <bar label="会话" dockstate="Docked" docksite="right" visible="true" 
          floatingLocation="100,287" size="200,250" 
          control="OneDesktop.UCDialogue" 
          assemblyName="./Plugins/OneDesktop/OneDesktop.dll" autoHide="false" helpURL="" />
  </dockbar>

</plugin>